run = "bash run.sh"
language = "python3"

[env]
PYTHONPATH = "."
PYTHONUNBUFFERED = "1"

[nix]
channel = "stable-22_11"

[deployment]
run = ["bash", "run.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80
